{% extends 'app/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <form action="{% url 'app:addApartment' %}" method="post" class="container">
        {% csrf_token %}
            <label for="street">Street</label>
            <input type="text" name="street" id="street">
            <label for="city">City</label>
            <input type="text" name="city" id="city">
            <label for="state">State</label>
            <input type="text" name="state" id="state">
            <label for="zip">ZIP</label>
            <input type="text" name="zip" id="zip">
            <label for="sqFt">Square Ft</label>
            <input type="text" name="sqFt" id="sqFt"/>
            <label for="year">Year</label>
            <input type="text" name="year" id="year"/>
            <p>has Doorman</p>

            <p>
              <input class="with-gap" name="doorman" type="radio" id="doorman1" value="1" />
              <label for="doorman1">Yes</label>
            </p>
            <p>
              <input class="with-gap" name="doorman" type="radio" id="doorman2" value="0" checked/>
              <label for="doorman2">No</label>
            </p>

            <label for="min">Minutes from Subway</label>
            <input type="text" name="min" id="min"/>
            <input type="submit" class="waves-effect waves-light btn"/>
        </form>
    {% endif %}
{% endblock %}