{% extends 'app/base.html' %}
{% block content %}
    <div class="container">
        <h2 class="center">All Apartments</h2>
        <table class="bordered highlight">
            <thead>
                <tr>
                  <th data-field="address">Address</th>
                  <th data-field="sqFt">Sq. Ft.</th>
                  <th data-field="year">Year Built</th>
                  <th data-field="min">Min. From Subway</th>
                </tr>
            </thead>

            <tbody>
            {% for apartment in apartments %}
            <tr>
                <td><a href="{% url 'app:apartment' apartment.user_pk apartment.id %}">{{ apartment.get_address }}</a></td>
                <td>{{ apartment.sqFt }}</td>
                <td>{{ apartment.year }}</td>
                <td>{{ apartment.min_from_subway }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}