<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'app/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/materialize.min.css' %}">
        <script src="{% static 'app/js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'app/js/materialize.js' %}"></script>
        <title>Sublet Portal</title>

    </head>
    <body>
        <nav class="deep-purple darken-4" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="{% url 'app:home' %}" class="brand-logo center">Sublet Portal</a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="{% url 'app:apartments' %}">Apartments</a></li>
                    <li><a href="{% url 'app:listings' %}">Listings</a></li>
                    <li><a href="{% url 'app:bookings' %}">Bookings</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'app:profile' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'app:logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'app:login' %}">Login</a></li>
                    <li><a href="{% url 'app:register' %}">Register</a></li>
                    {% endif %}
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="{% url 'app:apartments' %}">Apartments</a></li>
                    <li><a href="{% url 'app:listings' %}">Listings</a></li>
                    <li><a href="{% url 'app:bookings' %}">Bookings</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'app:profile' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'app:logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'app:login' %}">Login</a></li>
                    <li><a href="{% url 'app:register' %}">Register</a></li>
                    {% endif %}
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div style="margin-top: 20px;">{% block content %}{% endblock %}</div>
    <script>
        $(document).ready(function() {
            $('select').material_select();
            $(".button-collapse").sideNav();
            $('ul.tabs').tabs();
        });
    </script>
    <script type="text/javascript" src="{% static 'app/js/main.js' %}"></script>
    </body>
</html>