{% extends 'app/base.html' %}
{% block content %}
    <div class="container">
        <h2 class="center">All Apartments</h2>
        <table class="bordered highlight">
            <thead>
                <tr>
                  <th data-field="title">Title</th>
                  <th data-field="price">Price</th>
                  <th data-field="duration">Duration</th>
                  <th data-field="date">Date Listed</th>
                </tr>
            </thead>

            <tbody>
            {% for listing in listings %}
            <tr>
                <td><a href="{% url 'app:listing' listing.user_pk listing.id %}"></a>{{ listing.title }}</td>
                <td>{{ listing.price }}</td>
                <td>{{ listing.duration }} Day{{ listing.duration|pluralize }}</td>
                <td>{{ listing.date }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}