{% extends 'app/base.html' %}
{% block content %}
    <div class="container center">
        <form method="post" action="{% url 'app:login' %}">
        {% csrf_token %}
            <div class="row">
                <div class="offset-s3 col s6">
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username" />
                </div>
            </div>
            <div class="row">
                <div class="offset-s3 col s6">
                    <label for="password">Username</label>
                    <input id="password" type="password" name="password" />
                </div>
            </div>
            <input type="submit" class="waves-effect waves-light btn"/>
        </form>
    </div>

{% endblock %}